<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">wat2watch
    <small>Made by Rated-R 7/15/2019</small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="/images/logom.jpg" alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">A Movie Generator</h3>
      <p>The idea behind this website is to find good movie recommendations for the user based on data that we have collected from surveys and favorited movie selections.</p>
      <h3 class="my-3">Technologies used</h3>
      <ul>
        <li>Unirest</li>
        <li>The Movie Database API</li>
        <li>Node and Express web server</li>
        <li>MySQL database</li>
        <li>Sequelize ORM</li>
        <li>Heroku</li>
      </ul>
    </div>

  </div>
  <!-- /.row -->
<div class="empty" style="height: 50px;"></div>
  <!-- Related Projects Row -->
  {{!-- <h3 class="my-4">Related Projects</h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="/images/john.jpg" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="/images/.jpg" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
    </div>

  </div> --}}
  <!-- /.row -->

</div>
<!-- /.container -->

