<div class="container box pushdown" style="max-width: 800px;">
    <div class="signup mx-auto">
        <div class="row">
            <div class="col-md-12">
                <h1>Login Page</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form id="user-login">
                    <div class="form-group">
                        <label for="username">User Name</label>
                        <input type="username" name="username" class="form-control" id="username" aria-describedby="usernameHelp"
                            placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password"
                            placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>