<div class="container" style="max-width: 800px;">
	
	<div class="jumbotron content">
		<h1 class="text-center">Search Movie</h1>
		<form id="searchForm">
			<div class="input-group">
				<input type="text" class="form-control" id="searchText" placeholder="Search Movie">
				<div class="input-group-append">
					<button id="searchMovie" type="submit" class="btn btn-primary">Search</button>
				</div>
			</div>
		</form>
	</div>
</div>

<<<<<<< HEAD
	<div class="container">
		<div id="searchMovies" class="row"></div>
		<div id="recMovies" class="row"></div>
	</div>
=======
<div class="container">
	<div id="movies" class="row"></div>
</div>
>>>>>>> de43a8f8a38deed0375c48d136bb815c87a86c9b


<script src="/js/movie.js"></script>