<div>
	{{!-- <div>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="movie.handlebars">Movie Info</a>
				</div>
			</div>
		</nav>
	</div> --}}
	<div class="container">
		<div class="jumbotron">
			<h1 class="text-center">Search Movie</h1>
			<form id="searchForm">
				<input type="text" class="form-control" id="searchText" placeholder="Search Movie">
			</form>
			<button id="searchMovie" type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>

	<div class="container">
		<div id="movies" class="row"></div>
	</div>
</div>

<script src="/js/movie.js"></script>