	<div class="container">
		<div class="jumbotron">
			<h1 class="text-center">Search Movie</h1>
			<form id="searchForm">
				<input type="text" class="form-control" id="searchText" placeholder="Search Movie">
			</form>
			<button id="searchMovie" type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>

	<div class="container">
		<div id="movies" class="row"></div>
	</div>


<script src="/js/movie.js"></script>
