<div class="row">
    <div class="pushdown mx-auto">
        <h1>Take our survey to narrow your movie selection.</h1>
    </div>
</div>


<div class="container box signup">
    <div class="row">
        <div class="col-md-12">
            <form id="user-survey">
                <div class="form-group">
                    <label for="question1">If you saw a Dragon, what would you do?</label>
                    <select class="form-control" id="question1">
                        <option value="family">Approach and pet</option>
                        <option value="comedy">Run away</option>
                        <option value="documentary">Take a photo</option>
                        <option value="war">Slay the dragon</option>
                        <option value="crime">Figure out where it came from</option>
                        <option value="animation">Start drawing it</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="question2">As a child, what did you wish to become when you grew up?</label>
                    <select class="form-control" id="question2">
                        <option value="adventure">An Astronaut</option>
                        <option value="history">The President</option>
                        <option value="music">A Musician</option>
                        <option value="western">A Cowboy</option>
                        <option value="romance">A Spouse</option>
                        <option value="mystery">A Detective</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="question3">If you had to read one of these, which would you choose?</label>
                    <select class="form-control" id="question3">
                        <option value="sciencefiction">1984 - George Orwell</option>
                        <option value="thriller">The Shining - Stephen King</option>
                        <option value="drama">Macbeth - William Shakespeare</option>
                        <option value="fantasy">The Hobbit - J.R.R Tolkien</option>
                        <option value="horror">Frankenstein - Mary Shelley</option>
                        <option value="action">The Maze Runner - James Dashner</option>
                        <option value="romance">Pride and Prejudice - Jane Austen</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="question4">If you were apart of a house on Game of thrones, which house would you choose?</label>
                    <select class="form-control" id="question4">
                        <option value="family">House Stark</option>
                        <option value="drama">House Lannister</option>
                        <option value="fantasy">House Targaryen</option>
                        <option value="war">House Baratheon</option>
                        <option value="history">House Tully</option>
                        <option value="romance">House Tyrell</option>
                        <option value="crime">House Arryn</option>
                        <option value="fantasy">House Greyjoy</option>
                        <option value="adventure">House Martell</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="question5">Out of these Avengers, which one would you be?</label>
                    <select class="form-control" id="question5">
                        <option value="documentary">Iron Man</option>
                        <option value="family">Captain America</option>
                        <option value="horror">Hulk</option>
                        <option value="crime">Black Widow</option>
                        <option value="adventure">Thor</option>
                        <option value="sciencefiction">Doctor Strange</option>
                        <option value="comedy">Ant-Man</option>
                    </select>
                </div>
            <button type="submit" class="btn btn-danger">Submit</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/survey.js"></script>