.list-group-item {
  line-height: 2.5;
}


body {
  background-image: url("https://images.pexels.com/photos/1764338/pexels-photo-1764338.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-color: #cccccc;
 }
 
 .navbar{
   height: 100px;
 }

.signup{
  width: 50%;
  height: 50%;
}

.box{
  border-style: solid; 
  margin-top:10%;
  background-color: #534f4f5d;
  padding: 30px;
  text-align: center;
}

body {
  background-position: 90% 60%;
  font-family: 'Ubuntu', sans-serif;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

#movie-box {
  margin: 35px;
}

.gallery.box {
  width: 300px;
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1%;
  border: 10px #fff solid;
}

.gallery .card {
  position: relative;
}

.gallery .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #000;
  -webkit-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.gallery .info,
.gallery .foot {
  -webkit-transition: bottom 0.35s;
  -o-transition: bottom 0.35s;
  transition: bottom 0.35s;
}

.gallery .info {
  position: absolute;
  bottom: -35px;
  width: 100%;
}

.gallery .foot {
  height: 35px;
  bottom: -35px;
  position: relative;
  color: #fff;
  padding: 0 10px;
}

.gallery .foot .line {
  height: 2px;
  display: block;
  margin: 10px 0;
  background-color: #fff;
  margin-top: 20px;
  width: 0%;
  transition: width 0.6s;
}

.gallery .movie-title {
  font-weight: 300;
}

.movie-title {
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
}


/* All hovers here! */

.gallery:hover .info,
.gallery:hover .foot {
  bottom: 15%;
}

.gallery:hover .overlay {
  opacity: 0.6;
}

.gallery:hover .foot .line {
  width: 100%;
}

.pushdown {
  margin-top:10%;
}

/* #watched-container{
  background-color: rgb(48, 48, 48);
  max-height: 220px;
  overflow: auto;
  border-top: 6px solid rgb(26, 26, 26);;
} 

.watched-box{
  width: 100px;
  height:150px;
  opacity: 0.7;
 display: inline-block;
  
}
#watched-movies.img-responsive{
  border:0;
  float: left;  
}

.img-responsive{
  max-width: 100%; 
  height: auto;
  border: 0;
}
#unwatch-btn{
  width:100px;
  border: 0;
  border-radius: 0;
  background-color: rgb(154, 154, 154);
  color:white;
}
#watched-form{
  border-radius: 0;
  border: none;
} */