.list-group-item {
  line-height: 2.5;
}

html, body {
  height: 100%;
  margin: 0;
}
body {
  background-image: url("https://images.pexels.com/photos/1764338/pexels-photo-1764338.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-color: #cccccc;
 }
 .container {
   max-width: 100vw;
   
 }
 .wrapper{
  min-height: 100%;
  margin-bottom: -150px;
 }
 .navbar{
   height: 100px;
 }

.signup{
  width: 50%;
  height: 50%;
}

.box{
  border-style: solid; 
  
  background-color: #534f4f5d;
  padding: 30px;
  text-align: center;
}

.pushdown{
  margin-top:5%;
}

.footer{
  color:rgb(238, 234, 234);
  border-radius: none;

}

.first-layer {
  text-align: center;
}

.footer,
.push {
  height: 150px;
}
.no-border{
  border-radius: 0px;
  padding: 1rem;
}


.moviePoster:hover {
  opacity:0.5;
}



.content {
  
  background: rgba(0, 0, 0, 0.5);
  /* background: url("https://media.giphy.com/media/QWR7T5geWhgjAmkgEK/giphy.gif") no-repeat center center fixed; */
  background-size: cover;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
}

.myBtn {

  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

